<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Drawer</title>
		<link rel="stylesheet" href="/static/css/styles.css">
		<script src="/static/js/index.js" defer></script>
	</head>
	<body>
		<input type="file" id="inputImg" name="img" accept="image/*" alt="No Image" onchange="onFileChosen(event)">
		<input type="submit" onclick="onSubmitClick()">
		<div id="loader" style="display: none">Loading...</div>
		<div>
			<img id="img" width="500" height="500"/>
			<canvas id="canvas" width="500" height="500"></canvas>
		</div>
	</body>
</html>